extends ../layout

block content
  if errors
    each item in errors 
        .alert.alert-danger #{item.msg}
  form(method="post",action="/user/register")
    .form-group
      label(for='exampleInputEmail1') 用户名
      input#exampleInputEmail1.form-control(type='text', placeholder='Username',name="username")
    .form-group
      label(for='exampleInputPassword1') 邮箱
      input#exampleInputPassword1.form-control(type='email', placeholder='Email',name="email")
    .form-group
      label(for='exampleInputPassword1') 密码
      input#exampleInputPassword1.form-control(type='password', placeholder='Password',name="password1")
    .form-group
      label(for='exampleInputPassword1') 确认密码
      input#exampleInputPassword1.form-control(type='password', placeholder='Confirm password',name="password2")
    button.btn.btn-default(type='submit') 注册
